In [2]:
ls

Patrick_Milestone1.ipynb  full_extract.csv*

In [3]:
import pandas as pd
import plotly.express as px

In [5]:
tt = pd.read_csv('full_extract.csv')
tt.head()

,StateID,State,TweetID,CreatedDate,Lat,Lon,TwitterUserID,TwitterName,Followers,ShowID,ShowName
0,5,Nevada,450090458492854273,2014-03-29 22:01:42-04:00,36.173445,-115.061502,151680843,NUEMONEY,25485,2,Davincis Demons
1,7,New York,450089210834612224,2014-03-29 21:56:44-04:00,40.912401,-73.812712,155094607,Richie_Staz,497,2,Davincis Demons
2,5,Nevada,450108336025780225,2014-03-29 23:12:44-04:00,36.173445,-115.061502,151680843,NUEMONEY,25485,2,Davincis Demons
3,13,Texas,450072139006099456,2014-03-29 20:48:54-04:00,31.889186,-98.625780,2400672156,JadedSch,23,2,Davincis Demons
4,29,Georgia,450090930415370240,2014-03-29 22:03:34-04:00,33.777556,-84.384069,526761281,daylabaldwin,31,2,Davincis Demons

In [6]:
print("Number of entries (rows):", tt.shape[0])
print("Number of features (columns):", tt.shape[1])

Number of entries (rows): 125770
Number of features (columns): 11

In [7]:
print("column names:", tt.columns.tolist())

column names: ['StateID', 'State', 'TweetID', 'CreatedDate', 'Lat', 'Lon', 'TwitterUserID', 'TwitterName', 'Followers', 'ShowID', 'ShowName']

In [8]:
print("Data type of each column:")
print(tt.dtypes)

Data type of each column:
StateID            int64
State             object
TweetID            int64
CreatedDate       object
Lat              float64
Lon              float64
TwitterUserID      int64
TwitterName       object
Followers          int64
ShowID             int64
ShowName          object
dtype: object

In [9]:
print("Number of msssing values in each column:")
print(tt.isnull().sum())

Number of msssing values in each column:
StateID          0
State            0
TweetID          0
CreatedDate      0
Lat              0
Lon              0
TwitterUserID    0
TwitterName      0
Followers        0
ShowID           0
ShowName         0
dtype: int64

In [23]:
tt.head()

,StateID,State,CreatedDate,Lat,Lon,ShowID,ShowName
0,5,Nevada,2014-03-29 22:01:42-04:00,36.173445,-115.061502,2,Davincis Demons
1,7,New York,2014-03-29 21:56:44-04:00,40.912401,-73.812712,2,Davincis Demons
2,5,Nevada,2014-03-29 23:12:44-04:00,36.173445,-115.061502,2,Davincis Demons
3,13,Texas,2014-03-29 20:48:54-04:00,31.889186,-98.625780,2,Davincis Demons
4,29,Georgia,2014-03-29 22:03:34-04:00,33.777556,-84.384069,2,Davincis Demons